@import "tailwindcss";

/* Tailwind theme tokens */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-sans), sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
}
p{
  font-family: var(--font-sans), serif;
}
strong {
  font-family: var(--font-playfair), serif;
}
